.home__hero-btn{
    font-size: 1.5rem;
    padding: 13.5px 87px;
    font-family: $f1;
    background-color: $main-dark;
    color: $text-white;
}

.home__hero-btn:hover{
    background-color: $main-highlight-color;
    color: $main-dark;
}

.home__lex-btn{
    font-size: 1.5rem;
    padding: 13.5px 87px;
    font-family: $f1;
    background-color: transparent;
    border: transparent 1px solid;
    color: $text-white;
}

.home__lex-btn:hover{
    background: $main-dark;
    border: $main-highlight-color 1px solid;
}

.home__law-practices{
    padding: 25px 28px;

    span{
        font-size: 1.2rem;
    }
}


    #home__concentration-law-practice{
        padding-left: 0;
        .col-6:nth-child(even){
            padding-right: 0;
        }
        .col-6:nth-child(odd){
            padding-left: 0;
        }
    }






.bg-line{
    border-bottom:  $main-highlight-color 1px solid ;
}