// .form-title-container{
//     height:70px;
    
// }
.underline{ 
    height: 4px;
    
}
.login-container{
    border-left: 3px solid $main-highlight-color;
}
.login-main-container{
    max-width: 1290px;
}
.login-text{
    font-size: 36px;
}
.login-text-title{
    font-size: 48px;
}
