// .form-title-container{
//     height:70px;
    
// }
.underline{ 
    height: 4px;
    
}

.login-main-container{
    max-width: 1290px;
}
.login-text{
    font-size: 36px;
}
.login-text-title{
    font-size: 48px;
}
a.forgot-pw:hover{
    color:#fafafa86!important;
    
}

@media screen and (min-width: 990px){
    .login-container{
        border-left: 3px solid $main-highlight-color;  
    }
}

.link-hover{
    cursor: pointer;
    color: $text-white;
}

.link-hover:hover{
    color:$main-highlight-color;
}
