a{
    cursor:pointer;
}
nav{ 
    height:80px;
}

nav h1{
    font-size: 18px;
}

.nav-menu a:hover{
    color: $main-highlight-color!important;
}
.Navbar .MobileNavigation{
    display:none;
}

@media(min-width: 990px){
    .Navigation{
        display: none;
        background: aqua;
    }
    .Navbar .MobileNavigation{
        display:block;
    }
}

.login-btn{
    background-color: $main-highlight-color;
}

.login-btn:hover{
    background-color: $main-dark;
    color: $text-white;
}

.hamburger-menu{
    height: 78px;
    background-color: $main-highlight-color;
}