a{
    cursor:pointer;
}
nav{ 
    background: $main-dark-lighter;
    height:80px;
}

nav h1{
    color:$main-highlight-color;
    font-size: 18px;
}
nav button{
    background: $main-highlight-color!important;
}
.nav-menu a:hover{
    color: $main-highlight-color!important;
}