
.lexyellow{
    color:$main-highlight-color;
}
.bg-gold{
    background: $main-highlight-color;
}
.dark-bg{
    background: $main-dark;
}
.gray-bg{
    background:$main-dark-lighter;
}

.overlay-dark{
    background: linear-gradient(0deg, rgba(40, 37, 37, 0.5), rgba(40, 37, 37, 0.5));
}
