
.lexyellow{
    color:$gold;
}
.bg-gold{
    background: $gold;
}
.dark-bg{
    background: $dark-bg;
}
.gray-bg{
    background:$gray;
}

.overlay-dark{
    background: linear-gradient(0deg, rgba(40, 37, 37, 0.5), rgba(40, 37, 37, 0.5));
}
